<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experiencing hot spring is a must while visiting Japan!</h2>
                <hr class="light">
                <p class="text-faded">Thousands of up-to-date one-day trip hot springs destinations at your disposal. Don't miss it!</p>
                <a href="#" class="btn btn-default btn-xl">Let's go!!</a>
            </div>
        </div>
    </div>
</section>
